<ion-list no-lines="">
  <button ion-item (click)="openHome()">
    <ion-icon color="secondary" name="home" item-left></ion-icon>
    <!--<ion-icon color="secondary" item-right name="ios-arrow-forward-outline"></ion-icon>-->
    Home
  </button>

  <button ion-item *ngIf='!isinschrijvingopen' (click)="openTotaalstand()">
    <ion-icon color="secondary" name="trophy" item-left></ion-icon>
    <!--<ion-icon color="secondary" item-right name="ios-arrow-forward-outline"></ion-icon>-->
    Totaalstand
  </button >

  <button ion-item *ngIf='!isinschrijvingopen' (click)="openTeamstand()">
    <ion-icon color="secondary" name="stats" item-left></ion-icon>
    <!--<ion-icon color="secondary" item-right name="ios-arrow-forward-outline"></ion-icon>-->
    Teamstand
  </button>

  <button ion-item *ngIf='!isinschrijvingopen' (click)="openWedstrijdenstand()">
    <ion-icon color="secondary" name="podium" item-left></ion-icon>
    Wedstrijdenstand
  </button>

  <button ion-item *ngIf='!isinschrijvingopen' (click)="openVragenstand()">
    <ion-icon color="secondary" name="stats" item-left></ion-icon>
    <!--<ion-icon color="secondary" item-right name="ios-arrow-forward-outline"></ion-icon>-->
    Vragenstand
  </button>
  <button ion-item *ngIf='!isinschrijvingopen' (click)="openSpelerscore()">
    <ion-icon color="secondary" name="shirt" item-left></ion-icon>
    <!--<ion-icon color="secondary" item-right name="ios-arrow-forward-outline"></ion-icon>-->
    Punten per voetballer
  </button>
  <button ion-item *ngIf='!isinschrijvingopen' (click)="openSpelerstatistieken()">
    <ion-icon color="secondary" name="pie" item-left></ion-icon>
    <!--<ion-icon color="secondary" item-right name="ios-arrow-forward-outline"></ion-icon>-->
    Gekozen voetballers
  </button>
  <button ion-item (click)="openDeelnemers()">
    <ion-icon color="secondary" name="people" item-left></ion-icon>
    <!--<ion-icon color="secondary" item-right name="ios-arrow-forward-outline"></ion-icon>-->
    Deelnemers
  </button>
</ion-list>
