<ion-header>
  <ion-navbar class="mynavbar" ion-text color="white">
    <img height="74px" [src]="'assets/icon/logo_white.png'">
    <ion-buttons end>
      <button color="secondary" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="menu" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Laatste update {{laatsteupdate?.updatedAt | date:'dd/MM HH:mm'}}"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="Gegevens aan het ophalen">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="totaalstand">
        <ion-item color="secondary">
          <ion-row>
            <ion-col width-25>Pos.</ion-col>
            <ion-col width-45>Naam</ion-col>
            <ion-col width-30>Punten</ion-col>
          </ion-row>
        </ion-item>
        <ion-item text-wrap *ngFor="let line of totaalstand?.deelnemers" (click)="goToDetails(line)">
          <ion-icon color="secondary" item-right name="ios-arrow-dropright-outline"></ion-icon>
          <ion-row>
            <ion-col width-25>
              <!--<ion-icon color="up" *ngIf="line.Positie < line.previousPositie" ios="md-arrow-up"-->
                        <!--md="md-arrow-up"></ion-icon>-->
              <!--<ion-icon color="down" *ngIf="line.Positie > line.previousPositie" ios="md-arrow-down"-->
                        <!--md="md-arrow-down"></ion-icon>-->
              <!--<ion-icon color="light" *ngIf="line.Positie === line.previousPositie" ios="md-remove"-->
                        <!--md="md-remove"></ion-icon>-->
              {{line.Positie}}
              <span *ngIf="line.deltaPositie > 0" color="up">(+{{line.deltaPositie}})</span>
              <span *ngIf="line.deltaPositie < 0" color="down">({{line.deltaPositie}})</span>
              <span *ngIf="line.deltaPositie === 0" color="light">(0)</span>
            </ion-col>

            <ion-col width-55>{{line.Name}}</ion-col>
            <ion-col width-20> {{line.TotalScore}}</ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
</ion-content>

