<ion-header>
  <ion-navbar class="mynavbar" ion-text color="white">
    <img height="74px" [src]="'assets/icon/logo_white.png'">
    <ion-buttons end>
      <button color="secondary" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="menu" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Laatste update {{laatsteupdate?.updatedAt | date:'dd/MM HH:mm'}}"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="Gegevens aan het ophalen">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="totaalstand">
        <ion-item color="secondary">
          <ion-row class="header">
            <ion-col class="positie">Pos.</ion-col>
            <ion-col class="naam">Naam</ion-col>
            <ion-col class="punten">Punten</ion-col>
          </ion-row>
        </ion-item>
        <ion-item text-wrap *ngFor="let line of totaalstand?.deelnemers" (click)="goToDetails(line)">
          <ion-row >
            <ion-col class="positie">
              {{line.Positie}}
              <span *ngIf="line.deltaPositie > 0" color="up">(+{{line.deltaPositie}})</span>
              <span *ngIf="line.deltaPositie < 0" color="down">({{line.deltaPositie}})</span>
              <span *ngIf="line.deltaPositie === 0" color="light">(0)</span>
            </ion-col>
            <ion-col class="naam">{{line.Name}}</ion-col>
            <ion-col class="punten"> {{line.TotalScore}}</ion-col>
          </ion-row>
          <ion-icon color="secondary" item-right name="ios-arrow-dropright-outline"></ion-icon>
        </ion-item>
  </ion-card>
</ion-content>

