<ion-header>
  <ion-navbar ion-text color="primary">
    <ion-title>Teamstand
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Laatste update {{laatsteupdate?.updatedAt | date:'dd/MM HH:mm'}}">

    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-item color="secondary">
      <ion-row>
        <ion-col width-20>Pos.</ion-col>
        <ion-col width-60>Naam</ion-col>
        <ion-col width-20>Punten</ion-col>
      </ion-row>
    </ion-item>
    <ion-item color="white" text-wrap *ngFor="let line of teamstand; let positie = index" (click)="goToDetails(line)">
      <ion-row>
        <ion-col width-20 *ngIf="line?.TotalTeamScore !== teamstand[positie-1]?.TotalTeamScore">
          {{positie + 1}}
        </ion-col>
        <ion-col width-20 *ngIf="line?.TotalTeamScore === teamstand[positie-1]?.TotalTeamScore">

        </ion-col>
        <ion-col width-60>{{line?.Participant.Name}}</ion-col>
        <ion-col width-20> {{line?.TotalTeamScore}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
</ion-content>

