<ion-header>
<supereleven-navbar></supereleven-navbar>
  <ion-item text-wrap color="primary">
    <ion-label color="white">Speelronde</ion-label>
    <ion-select [(ngModel)]="activeSpeelronde"  (ngModelChange)="getStand($event)">
      <ion-option *ngFor="let speelronde of speelrondeList" [value]="speelronde.RoundId">{{speelronde.RoundId}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="zoek op naam"></ion-searchbar>
</ion-header>


<ion-content #content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Laatste update {{laatsteupdate?.updatedAt | date:'dd/MM HH:mm'}}"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="Gegevens aan het ophalen">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="teamstand">
    <ion-item ion-affix [content]="content" color="secondary">
      <ion-row class="header">
        <ion-col class="positie">Pos.</ion-col>
        <ion-col>Naam</ion-col>
        <ion-col class="punten">Punten</ion-col>
      </ion-row>
    </ion-item>
    <button ion-item color="white" text-wrap *ngFor="let line of teamstand; let positie = index" (click)="goToDetails(line)">
      <ion-row>
        <ion-col class="positie" *ngIf="line?.TotalTeamScore !== teamstand[positie-1]?.TotalTeamScore">
          {{positie + 1}}
        </ion-col>
        <ion-col class="positie" *ngIf="line?.TotalTeamScore === teamstand[positie-1]?.TotalTeamScore">

        </ion-col>
        <ion-col>{{line.Participant.Name}}</ion-col>
        <ion-col class="punten"> {{line.TotalTeamScore}}</ion-col>
      </ion-row>
    </button>
  </ion-card>
</ion-content>

