<ion-header>
  <ion-navbar class="mynavbar superelevennavbar" ion-text color="white">
      <ion-title>
        <img class="center" [src]="'assets/icon/logo_white.png'">
      </ion-title>
    <ion-buttons right>
      <button color="secondary" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>

  <div *ngIf="isLoading" class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
<div *ngIf="!isLoading">

  <ion-card color="secondary" *ngIf="laatsteupdate?.updatedAt">
    <ion-card-content ion-text>
      <h2>
        Voor het laatst geüpdated op: </h2>
      <h1>
        {{laatsteupdate?.updatedAt | date:'dd MMMM HH:mm'}}
      </h1>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary" *ngIf="nummereentotaalstand?.TotalScore">
    <ion-card-content ion-text>
      <h2>Nummer 1 totaalstand met {{nummereentotaalstand?.TotalScore}} punten:
      </h2>
      <h1>
        {{nummereentotaalstand?.Name}}
      </h1>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary" *ngIf="nummereenteamstandlaatsteronde?.RoundId">
    <ion-card-content ion-text>
      <h2> Beste team in ronde {{nummereenteamstandlaatsteronde?.RoundId}} met
        {{nummereenteamstandlaatsteronde?.TotalTeamScore}} punten: </h2>
      <h1>
        {{nummereenteamstandlaatsteronde?.Participant.Name}}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="headline?.content">
    <ion-card-header color="primary">
      {{headline?.createdAt | date:'dd MMMM HH:mm' }}
    </ion-card-header>
    <ion-card-content ion-text color="primary">
      {{headline?.content}}
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

