<ion-header>

  <supereleven-navbar></supereleven-navbar>

  <ion-item text-wrap color="primary">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-item>

</ion-header>
<ion-content>

  <ion-card>
    <ion-item color="secondary">
      <ion-row class="header">
        <ion-col class="club">Club</ion-col>
        <ion-col class="item-text-wrap">Naam</ion-col>
        <ion-col class="count">Aantal</ion-col>
      </ion-row>
    </ion-item>
    <div *ngFor="let line of spelerlijst | orderBy : ['-Count']">
      <button ion-item text-wrap (click)="goToDetails(line)" *ngIf="line.PlayerName">
        <ion-row>
          <ion-col class="club">
            <img class="clubicon" [src]="'assets/clubicons/'+ line.Team + '.png'">
          </ion-col>
          <ion-col>{{line.PlayerName}}
          </ion-col>
          <ion-col class="count">{{line.Count}}
          </ion-col>
        </ion-row>
      </button>
    </div>
  </ion-card>
</ion-content>
