<ion-header>
  <ion-navbar class="mynavbar superelevennavbar" ion-text color="white">
    <img [src]="'assets/icon/logo_white.png'">
    <ion-buttons end>
      <button color="secondary" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

</ion-header>
<ion-content #content>
  <div *ngIf="isLoading" class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-card>
    <ion-item ion-affix [content]="content" color="secondary">
      <ion-row class="header">
        <ion-col class="club">Club</ion-col>
        <ion-col class="item-text-wrap">Naam</ion-col>
        <ion-col class="count">Aantal</ion-col>
      </ion-row>
    </ion-item>
    <div [hidden]="isLoading" *ngFor="let line of spelerlijst | orderBy : ['-Count']">
      <button ion-item text-wrap (click)="goToDetails(line)" *ngIf="line.PlayerName">
        <ion-row>
          <ion-col class="club">
            <img class="clubicon" [src]="'assets/clubicons/'+ line.Team + '.png'">
          </ion-col>
          <ion-col>{{line.PlayerName}}
          </ion-col>
          <ion-col class="count">{{line.Count}}
          </ion-col>
        </ion-row>
      </button>
    </div>
  </ion-card>
</ion-content>
