<ion-header>
  <supereleven-navbar></supereleven-navbar>
  <ion-item text-wrap color="primary">
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  </ion-item>
</ion-header>


<ion-content>
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
    <!--<ion-refresher-content-->
      <!--pullingText="Laatste update {{laatsteupdate?.updatedAt | date:'dd/MM HH:mm'}}"-->
      <!--pullingIcon="arrow-dropdown"-->
      <!--refreshingSpinner="circles"-->
      <!--refreshingText="Gegevens aan het ophalen">-->
    <!--</ion-refresher-content>-->
  <!--</ion-refresher>-->

  <ion-card *ngIf="deelnemers">
    <ion-item color="secondary">
      <ion-row class="header">
        <ion-col class="positie">#</ion-col>
        <ion-col>Naam</ion-col>
        <ion-col>Plaats</ion-col>
      </ion-row>
    </ion-item>
    <button ion-item color="white" text-wrap *ngFor="let line of deelnemers; let positie = index" (click)="goToDetails(line)">
      <ion-row>
        <ion-col class="positie">
          {{positie + 1}}
        </ion-col>
        <ion-col>{{line.Participant.Name}}</ion-col>
        <ion-col>{{line.Participant.Location}}</ion-col>
      </ion-row>
    </button>
  </ion-card>
</ion-content>

