<ion-header>
  <supereleven-navbar></supereleven-navbar>

  <ion-item text-wrap color="primary">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-item>

</ion-header>


<ion-content>

  <ion-card *ngIf="vragenstand">
    <ion-item color="secondary">
      <ion-row class="header">
        <ion-col class="positie">Pos.</ion-col>
        <ion-col >Naam</ion-col>
        <ion-col class="punten">Punten</ion-col>
      </ion-row>
    </ion-item>
    <button ion-item color="white" text-wrap *ngFor="let line of vragenstand; let positie = index" (click)="goToDetails(line)">
      <ion-row>
        <ion-col class="positie" *ngIf="line?.TotalQuestionsScore !== vragenstand[positie-1]?.TotalQuestionsScore">
          {{positie + 1}}
        </ion-col>
        <ion-col class="positie" *ngIf="line?.TotalQuestionsScore === vragenstand[positie-1]?.TotalQuestionsScore">

        </ion-col>
        <ion-col>{{line.Participant.Name}}</ion-col>
        <ion-col class="punten"> {{line.TotalQuestionsScore}}</ion-col>
      </ion-row>
    </button>
  </ion-card>
</ion-content>
