supereleven-navbar {
  .toolbar-md-white .toolbar-background-md,
  .toolbar-ios-white .toolbar-background-ios {
    background: #fff;
    background-image: url('../../assets/icon/logo_white.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
